// .player {
//     border: 1px solid green;
//     box-sizing: border-box;
//     min-width: 100px;
//     width: 100%;
//     height: 100%;

// }


.container {
   /* border: 5px solid green; */
   display: grid;
   // width: 100px;
   // height: 100%;
   box-sizing: border-box;
   justify-items: center;
   align-items: center;

   .item {
      box-sizing: border-box;
      grid-area: 1 / 1;
   }

   .player {
      // border: 5px solid red;
      width: 100%;
      height: 100%;
   }
   
   .char {
      // border: 5px solid blue; 
      width: 60%;
      height: 60%;
      // margin-top: -20px;
   }

   .weapon {
      // border: 5px solid blue;
      position: relative;
      width: 60%;
      height: 60%;
      right: 0px;
      bottom: 0px;
      // margin-top: -20px;
   }
   
   .limb {
      // border: 5px solid blue; 
      width: 60%;
      // height: 60%;
      margin-top: 40%;
      //transform-origin: top left;
      // transform:rotate(20deg);
      // border: 2px solid red;
      // animation-direction: alternate;
      // animation: mastrubate 0.2s infinite alternate; 
      transform-origin: top right;
      animation: mastrubate 0.3s infinite alternate; 
   }

   .limbRight {
      width: 60%;
      margin-top: 40%;
      transform-origin: top left;
      animation: mastrubate 0.2s infinite alternate-reverse; 
   }

   @keyframes mastrubate {
      from {transform:rotate(20deg)}
      to {transform:rotate(-20deg)}
      
   }

}

